
node_modules/
npm-debug.log
.env
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
frontend/index.optimized.html
frontend/script.min.js
frontend/style.min.css
